<!-- Navigation Bar -->
<nav>
  <div class="navbar-fixed">
    <nav class="grey darken-4">
      <div class="container">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">kou2kkkt</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/home">Home</a></li>
            <li><a href="/resume">Resume</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/contacts">Contacts</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</nav>
