<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="important">
        <li>
          <img class="circle responsive-img" height="100px" width="100px" src="/assets/img/kou2k.jpg">
        </li>
        <li><b>Kosuke Kikuchi</b></li>
        <li>kousukekikuchi1984[at]gmail.com</li>
      </ul>
      <p>
        {{summary}}
      </p>
      <p>
        <a style="color: #e0e0e0;" href="https://docs.google.com/document/d/1O0Gkvem7d2tDAjVT0Sd16QYr_44cSMWRMbeSPNKSzss/edit?usp=sharing">
          Detailed Japanese Resume
        </a>
      </p>
      <ul class="social_media">
        <p><a href="https://twitter.com/kou2kkkt"><i class="fab fa-twitter fa-2x"></i></a></p>
        <p><a href="https://facebook.com/kou2k"><i class="fab fa-facebook fa-2x"></i></a></p>
        <p><a href="https://www.linkedin.com/in/kousuke-kikuchi-37191433/"><i class="fab fa-linkedin fa-2x"></i></a></p>
        <p><a href="https://github.com/kousukekikuchi1984"><i class="fab fa-github fa-2x">  </i></a></p>
        <p><a href="https://medium.com/@kousukekikuchi"><i class="fab fa-medium fa-2x">  </i></a></p>
      </ul>
    </div>
  </div>
</div>
