div {
  padding: 20px;
  .important {
    text-align: center;
  }
  .skills {
    img {
      height: 50px;
      width: 50px;
    }
  }
}

.companies {
  .collection {
    color: #616161;
  }
}

.social_media {
  i {
    color: #e0e0e0;
  }
  p {
    float: left;
    padding: 5px;
  }
}

.educations {
  color: #616161;
}
