div {
  padding: 20px;
  .important {
    text-align: center;
  }
  .skills {
    img {
      height: 50px;
      width: 50px;
    }
  }
}

.companies {
  .collection {
    color: #616161;
  }
}

.social_media {
  i {
    color: #e0e0e0;
  }
  p {
    float: left;
    padding: 5px;
  }
}

// IONIC DEFAULT THEME COLORS
$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

// https://css-tricks.com/html5-progress-element/
.progress, progress[value] {
  width:              100%;
  border:             none;
  margin:             5px 0;
  height:             5px;
  display:            block;
  appearance:         none;
  -webkit-appearance: none;
  &::-webkit-progress-bar {
    background-color: lighten( map-get($colors, primary), 35% );
  }
  &::-webkit-progress-value {
    background-color: map-get($colors, primary);
  }
}

// http://materializecss.com/preloader.html
// https://github.com/Dogfalo/materialize/blob/master/dist/css/materialize.css
.progress-materializecss {
  margin:             5px 0;
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color:  lighten( map-get($colors, primary), 35% );
  border-radius: 2px;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
  .indeterminate {
    background-color: map-get($colors, primary);
    &:before{
      content:          '';
      position:         absolute;
      background-color: inherit;
      top:              0;
      left:             0;
      bottom:           0;
      will-change:      left, right;
      animation:        indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    }
    &:after {
      content:          '';
      position:         absolute;
      background-color: inherit;
      top:              0;
      left:             0;
      bottom:           0;
      will-change:      left, right;
      animation:        indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation-delay: 1.15s;
    }
  }
}

table, th, td {
    border: none;
}

.skills {
  td {
    img {
      width: 36px;
      height: 36px;
    }
  }
}

.educations {
  color: #616161;
  i .circle {
    background-color: white;
    color: black;
  }
}

