<div class="row">
  <div class="col">
    <h4>Executive Summary</h4>
    <div class="executive_summary">
      {{executive_summary}}
    </div>

    <h5>Companies</h5>
    <ul *ngFor="let company of companies" class="companies">
      <h6>{{company.name}}</h6>
      <li>{{company.from}} ~ {{company.to}}</li>
      <ul class="collection">
        <li class="collection-item avatar" *ngFor="let project of company.projects">
          <h6 class="title">{{project.name}}</h6>
          <p>{{project.from}} ~ {{project.to}}</p>
          <p>{{project.description}}</p>
        </li>
      </ul>
    </ul>

    <h5>Educations</h5>
    <ul class="collection educations">
      <li>
        <div class="collection-item avatar">
          <i class="circle fas fa-certificate"></i>
          <span class="title">2016-05 - 2016-12</span>
          <p>早稲田大学EDGEプログラム<br/>
            グローバルアントレプレナー育成プログラム　修了</p>
        </div>
      </li>
      <li>
        <div class="collection-item avatar">
          <i class="circle fas fa-graduation-cap"></i>
          2010-04 - 2014-03<br/>
          早稲田大学大学院<br/>
          創造理工研究科建築学専攻  博士後期課程単位取得退学
        </div>
      </li>
      <li>
        <div class="collection-item avatar">
          <i class="circle fas fa-certificate"></i>
          2012-10 - 2013-05<br/>
          The Fab Academy<br/>
          Certificate
        </div>
      </li>
      <li>
        <div class="collection-item avatar">
          <i class="circle fas fa-graduation-cap"></i>
          2007-04 - 2009-03<br/>
          早稲田大学大学院<br/>
          創造理工学研究科建築学専攻　修士課程修了
        </div>
      </li>
      <li>
        <div class="collection-item avatar">
          <i class="circle fas fa-graduation-cap"></i>
          2002-07 - 2007-03<br/>
          早稲田大学<br/>
          理工学部建築学科　学士課程修了
        </div>
      </li>
    </ul>

    <h5>Skills</h5>
    <div class="skills">
      <h6>Frontend, Native App</h6>
      <table style="width: 100%">
        <colgroup>
          <col width="20%">
          <col width="80%">
        </colgroup>
        <thead>
          <tr>
            <th>Name</th>
            <th>Level</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="assets/img/200px-IOS_logo.svg.png"></td>
            <td><progress class="progress" max="100" value="50"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/200px-Swift_logo.svg.png"></td>
            <td><progress class="progress" max="100" value="70"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/angular.png"></td>
            <td><progress class="progress" max="100" value="70"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/Materialize-CSS-01.png"></td>
            <td><progress class="progress" max="100" value="50"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/typescript.png"></td>
            <td><progress class="progress" max="100" value="25"></progress></td>
          </tr>
        </tbody>
      </table>

      <!-- Backend -->
      <h6>Backend, Middleware</h6>
      <table style="width: 100%">
        <colgroup>
          <col width="20%">
          <col width="80%">
        </colgroup>
        <thead>
          <tr>
            <th>Name</th>
            <th>Level</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="assets/img/python.png"></td>
            <td><progress class="progress" max="100" value="85"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/golang.png"></td>
            <td><progress class="progress" max="100" value="35"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/flask.png"></td>
            <td><progress class="progress" max="100" value="80"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/tensorflow.png"></td>
            <td><progress class="progress" max="100" value="50"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/echo.png"></td>
            <td><progress class="progress" max="100" value="40"></progress></td>
          </tr>
        </tbody>
      </table>

      <!-- databases -->
      <h6>Databases</h6>
      <table style="width: 100%">
        <colgroup>
          <col width="20%">
          <col width="80%">
        </colgroup>
        <thead>
          <tr>
            <th>Name</th>
            <th>Level</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="/assets/img/200px-Postgresql_elephant.svg.png"></td>
            <td><progress class="progress" max="100" value="70"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/200px-Mysql-dolphin-square.svg.png"></td>
            <td><progress class="progress" max="100" value="60"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/hadoop-elephant-logo.png"></td>
            <td><progress class="progress" max="100" value="70"></progress></td>
          </tr>
        </tbody>
      </table>

      <!-- infrastructure -->
      <h6>Infrastructure</h6>
      <table style="width: 100%">
        <colgroup>
          <col width="20%">
          <col width="80%">
        </colgroup>
        <thead>
          <tr>
            <th>Name</th>
            <th>Level</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="/assets/img/ansible.jpg"></td>
            <td><progress class="progress" max="100" value="50"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/fabric.png"></td>
            <td><progress class="progress" max="100" value="80"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/docker.png"></td>
            <td><progress class="progress" max="100" value="70"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/kubernetes.png"></td>
            <td><progress class="progress" max="100" value="40"></progress></td>
          </tr>
        </tbody>
      </table>

      <!-- Design -->
      <h6>Design</h6>
      <table style="width: 100%">
        <colgroup>
          <col width="20%">
          <col width="80%">
        </colgroup>
        <thead>
          <tr>
            <th>Name</th>
            <th>Level</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="/assets/img/200px-Adobe_Photoshop_CC_icon.svg.png"></td>
            <td><progress class="progress" max="100" value="60"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/200px-Adobe_Illustrator_CC_icon.svg.png"></td>
            <td><progress class="progress" max="100" value="80"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/Adobe_InDesign_CC_icon.svg.png"></td>
            <td><progress class="progress" max="100" value="70"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/200px-Adobe_XD_CC_icon.svg.png"></td>
            <td><progress class="progress" max="100" value="70"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/Rhinoceros3d-logo.png"></td>
            <td><progress class="progress" max="100" value="60"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/sketchup.jpg"></td>
            <td><progress class="progress" max="100" value="60"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/vectorworks.png"></td>
            <td><progress class="progress" max="100" value="65"></progress></td>
          </tr>
        </tbody>
      </table>

      <!-- media art -->
      <h6>Media Art</h6>
      <table style="width: 100%">
        <colgroup>
          <col width="20%">
          <col width="80%">
        </colgroup>
        <thead>
          <tr>
            <th>Name</th>
            <th>Level</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><img src="/assets/img/Eagle.png"></td>
            <td><progress class="progress" max="100" value="60"></progress></td>
          </tr>
          <tr>
            <td><img src="/assets/img/arduino.png"></td>
            <td><progress class="progress" max="100" value="60"></progress></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

