<div class="row">
  <div class="col s12 m4 l3">
    <ul class="important">
      <li>
        <img class="circle responsive-img" height="100px" width="100px" src="/assets/img/kou2k.jpg">
      </li>
      <li><b>Kosuke Kikuchi</b></li>
    </ul>
    <p>
      {{text}}
    </p>
    <ul class="social_media">
      <li><a href="https://twitter.com/kou2kkkt"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://facebook.com/kou2k"><i class="fab fa-facebook"></i></a></li>
      <li><a href="https://www.linkedin.com/in/kousuke-kikuchi-37191433/"><i class="fab fa-linkedin"></i></a></li>
      <li><a href="https://github.com/kousukekikuchi1984"><i class="fab fa-github">  </i></a></li>
      <li><a href="https://medium.com/@kousukekikuchi"><i class="fab fa-medium">  </i></a></li>
    </ul>
  </div>

  <div class="col s12 m8 l9">
    <h5>Projects</h5>

    <h5>Skills</h5>
    <div class="skills">
      <img src="/assets/img/python.png">
      <img src="/assets/img/angular.png">
    </div>
  </div>
</div>

