<div class="row">
  <div class="col s12 m12 l3">
    <ul class="important">
      <li>
        <img class="circle responsive-img" height="100px" width="100px" src="/assets/img/kou2k.jpg">
      </li>
      <li><b>Kosuke Kikuchi</b></li>
    </ul>
    <p>
      {{summary}}
    </p>
    <p>
      <a style="color: #e0e0e0;" href="https://docs.google.com/document/d/1O0Gkvem7d2tDAjVT0Sd16QYr_44cSMWRMbeSPNKSzss/edit?usp=sharing">
        Detailed Japanese Resume
      </a>
    </p>
    <ul class="social_media">
      <p><a href="https://twitter.com/kou2kkkt"><i class="fab fa-twitter"></i></a></p>
      <p><a href="https://facebook.com/kou2k"><i class="fab fa-facebook"></i></a></p>
      <p><a href="https://www.linkedin.com/in/kousuke-kikuchi-37191433/"><i class="fab fa-linkedin"></i></a></p>
      <p><a href="https://github.com/kousukekikuchi1984"><i class="fab fa-github">  </i></a></p>
      <p><a href="https://medium.com/@kousukekikuchi"><i class="fab fa-medium">  </i></a></p>
    </ul>

  </div>

  <div class="col s12 m12 l9">
    <h4>Executive Summary</h4>
    <div class="executive_summary">
      {{executive_summary}}
    </div>

    <h5>Companies</h5>
    <ul *ngFor="let company of companies" class="companies">
      <h6>{{company.name}}</h6>
      <li>{{company.from}} ~ {{company.to}}</li>
      <ul class="collection">
        <li class="collection-item avatar" *ngFor="let project of company.projects">
          <h6 class="title">{{project.name}}</h6>
          <p>{{project.from}} ~ {{project.to}}</p>
          <p>{{project.description}}</p>
        </li>
      </ul>
    </ul>
    <h5>Educations</h5>
    <div class="educations">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header">
          <i class="fas fa-certificate"></i>
          2016-05 - 2016-12<br/>
          早稲田大学EDGEプログラム<br/>
          グローバルアントレプレナー育成プログラム　修了
        </div>
        <div class="collapsible-body"><span>from 2011-04 to 2014-03</span></div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-graduation-cap"></i>
          2010-04 - 2014-03<br/>
          早稲田大学大学院<br/>
          創造理工研究科建築学専攻  博士後期課程単位取得退学
        </div>
        <div class="collapsible-body"><span>from 2011-04 to 2014-03</span></div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-certificate"></i>
          2012-10 - 2013-05<br/>
          The Fab Academy<br/>
          Certificate
        </div>
        <div class="collapsible-body"><span>from 2011-04 to 2014-03</span></div>
      </li>


      <li>
        <div class="collapsible-header">
          <i class="fas fa-graduation-cap"></i>
          2007-04 - 2009-03<br/>
          早稲田大学大学院<br/>
          創造理工学研究科建築学専攻　修士課程修了
        </div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="fas fa-graduation-cap"></i>
          2002-07 - 2007-03<br/>
          早稲田大学<br/>
          理工学部建築学科　学士課程修了
        </div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>
    </div>
    <h5>Skills</h5>
    <div class="skills">
      <img src="/assets/img/python.png">
      <img src="/assets/img/angular.png">
    </div>
  </div>
</div>

