div {
  padding: 20px;
  .important {
    text-align: center;
  }
  .skills {
    img {
      height: 50px;
      width: 50px;
    }
  }
}

.social_media {
  i {
    color: white;
  }
  li {
    float: left;
    padding: 5px;
  }
}
