<div class="publications">
  <h5>Publications</h5>
  <ul>
    <li>Collective Background Extraction for Station Market Area by using Location Based Social Network, Journal of Civil Engineering and Architecture, Vol. 7(3), 282-289, 2013</li>
    <li>A New Method for Analyzing the Relationship between City and Human Behavior using Geo-Tagging Social Networking Service, International Union of Architects Academic Program, 10074, 388-393, 2011</li>
    <li>Arduino・Pachube・SketchUpと連携した建築モニタリングシステムの基礎的研究, 日本建築学会技術報告集, Vol. 16, No. 33, 791-794, 2010</li>
  </ul>
</div>

<div class="works">
  <h5>Works</h5>
  <ul>
    <li>
      <h6>PlantPod</h6>
      <div class="video-container">
        <iframe width="280" height="157" src="https://www.youtube.com/embed/IEh0-y3y_0s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <span>2013年</span>
      <p>植物とコミュ二ケーションするために、植物の周辺環境をセンサリングし、顔文字にして表示した</p>
    </li>
    <li>
      <h6>Arduinoを用いた環境モニタリング</h6>
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/4_mtrW7d3nc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <span>2010年</span>
      <p>Arudinoを用いた環境センサリングを行い、その1分ごとのデータをCAD上のオブジェクトに反映させた</p>
    </li>
    <li>
      <h6>OpenCVとProcessing.jsを用いた動的HP</h6>
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WbKnb9Cbi8s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <span>2010年</span>
      <p>所属する研究室のホームページには監視カメラのようなものが防犯上の理由から存在していた。ただし、外部公開するにはプライバシーが問題になる。また、誰がいつ頃いたのかを何となく把握できるように、5分おきに減色処理を行なった画像をProcessing.jsで並び替えて、インタラクティブにした</p>
    </li>
  </ul>
</div>

<div class="honors">
  <h5>Honors</h5>
</div>

<div class="presentations">
  <h5>Presentations</h5>
</div>

